on:
  push:
  # We recommend triggering a scan when merging to your default branch as a best practice,
  # especially if you'd like to compare the results of two scans (e.g., a feature branch against the
  # default branch)
    branches:
    - main
    - master
jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # We are building this application with Java 1.8
    - name: Setup Java JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Package with maven
      run: mvn -B package --file pom.xml
    - name: SonarQube Scan
  # You may pin to the exact commit or the version.
  # uses: kitabisa/sonarqube-action@a40c5bc8f6f33b9e0d5035caf5910807ce1d554d
  uses: kitabisa/sonarqube-action@v1.1.0
  with:
    # SonarQube server URL
    host: http://3.22.123.68:9000/
    # The project's unique key. Allowed characters are: letters, numbers, -, _, . and :, with at least one non-digit.
    projectKey: 4684ecea79d91585dc20f135c8469f7a5509f605
    # Name of the project that will be displayed on the web interface.
    projectName: Github_Action
    # The project version.
    #projectVersion: # optional, default is 
    # Set the sonar.projectBaseDir analysis property
    #projectBaseDir: # optional, default is .
    # Login or authentication token of a SonarQube user
    login: admin
    # Password that goes with the sonar.login username. This should be left blank if an authentication token is being used.
    password: admin@123
    
