
on:
  push:
  # We recommend triggering a scan when merging to your default branch as a best practice,
  # especially if you'd like to compare the results of two scans (e.g., a feature branch against the
  # default branch)
    branches:
    - main
    - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # We are building this application with Java 1.8
    - name: Setup Java JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Package with maven
      run: mvn -B package --file pom.xml
   
    - name: Setup sonarqube
      uses: warchant/setup-sonar-scanner@v3
    - name: Run sonarqube
      env:
    # to get access to secrets.SONAR_TOKEN, provide GITHUB_TOKEN
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: sonar-scanner
       -Dsonar.login=c3c49dfe51138664d65987baf578d3cc82c8c071
       -Dsonar.organization=1corp
       -Dsonar.host.url=http://3.16.66.104:9000/
       -Dsonar.projectKey=test
       -Dsonar.sources=c3c49dfe51138664d65987baf578d3cc82c8c071
 
